# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Boys Don't Cry.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projetos em UNITY\Boys Don't Cry\Boys Don't Cry\Boys Don't Cry\.idea\.idea.Boys Don't Cry\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
